*,
*::before,
*::after {
    outline: 3px solid red;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 500px;
    
}

a {
    color: rgb(15, 80, 202);
}
